<launch>

    <node name="talker" pkg="lab2_package" type="talker.py" output="screen">
    <remap from="overflow_topic" to="overflow_topic_new"/>
    <remap from="time_topic" to="time_topic_new"/>
    </node>
    <node name="listener" pkg="lab2_package" type="listener.py" output="screen">
 <remap from="time_topic" to="time_topic_new"/>
    </node>
    <node name="overflow_listener" pkg="lab2_package" type="overflow_listener.py" output="screen">
    <remap from="overflow_topic" to="overflow_topic_new"/>
    </node>
    
</launch>
