<launch>
<arg name="new_name1" default="time_topic" />
<arg name="new_name2" default="overflow_topic" />
        <node name="listener_cpp" pkg="lab3_pkg" type="listener.py" output="screen">
            <remap from="time_topic" to="$(arg new_name1)"/>
        </node>
	<node name="overflow" pkg="lab3_pkg" type="overflow_listener.py" output="screen">
            <remap from="overflow_topic" to="$(arg new_name2)"/>
        </node>
</launch>
